@import './styles/color.scss';

.mobile-container{
  height:100vh;
  background: linear-gradient(45deg, rgba(255,221,32,1) 0%, rgba(255,221,45,1) 47%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 100%);
  padding:10px;
  align-items: flex-end;

  .app {
    width:340px;
    max-height:630px;
    border:2px solid #1c1b1b;
    background-color: #fff;
    border-radius: 24px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 10px;               /* width of the entire scrollbar */
    }

    &::-webkit-scrollbar-track {
      margin:20px 0
    }

   &::-webkit-scrollbar-thumb {
      background-color: $light-grey;
      border-radius: 20px;
      border:3px solid rgba(255,255,255,1);
    }
  }
}
