@import "../../styles/color";

.sign_in_page{
  position: relative;
  overflow: hidden;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    width: 181px;
    height: 271px;
    left: 256px;
    top: -60.95px;
    border-radius: 50%/50%;
    background: #FFF065;
    transform: rotate(-31.68deg);
  }
  &::before {
    content: "";
    position: absolute;
    width: 181px;
    height: 271px;
    left: -109px;
    bottom: -90px;
    border-radius: 50%/50%;
    background: #FFF065;
    transform: rotate(-31.68deg);
  }
  .big-header{
    top:30px;
    left:30px;
    position: absolute;
  }
  .big_yellow_btn{
    margin-top:30px;
  }
  .grey_a{
    align-self: center;
    margin-top:10px;
  }
}