@import "../../styles/color";

.home_page{
  .popular_tinkets, .popular_chats{
    margin-bottom: 33px;
    .fs18{
      margin-bottom:16px;
    }
    .little_yellow_btn{
      align-self: flex-start;
    }

    .additional{
      color:$blue;
    }
  }

  .news_container{
    margin-bottom:20px;
    .news{
      width:65px;
      height:65px;
      border-radius:14px;
      box-shadow: 0 0 0 2px #fff,
                  0 0 0 3px $blue;
      margin-right:11px;
      background-color:#BCEEFB;
      display:flex;
      align-items: flex-end;


      p{
        font-size:10px;
        margin-bottom:7px;
      }
    }
  }

}