@import "../styles/color";

.header{
  margin-bottom:20px;

  .user_image{
    width:30px;
    height:30px;
    border-radius:50%;
    border:1px solid $yellow;
    margin-right:16px;
  }
}

.footer{
  position:fixed;
  bottom:13px;
  width:334px;
  padding:5px;
  background: rgba(251, 251, 251, 0.86);
  border-top: 0.5px solid #BFBFBF;
  left:calc(50% - 167px);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  display:flex;
  justify-content: space-around;

  .link{
    .link_text{
      font-size:12px;
      color:$grey-link
    }

    svg{
      fill:$grey-link
    }

    &.active, &:hover{
      .link_text{
        color:$blue
      }

      svg{
        fill:$blue
      }
    }
  }
}

.search_container{
  background-color:#E1E3E5;
  border-radius: 5px;
  padding:5px 10px;
  margin-bottom:16px;

  svg{
    fill:$grey-link;
    margin-right:5px
  }

  input{
    background-color:#E1E3E5;
    ::placeholder {
      color: $grey-link;
      font-weight: 300;
      font-size:15px;
    }
  }
}